h1{
color:brown;
}

body{
  margin-left: 50px;
  background-color: greenyellow;
}
form {

  border-radius: 15px;
  width: 740px;
  height: fit-content;
  padding: 1em;
  background: cyan;}


  label{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: orange;
  font-size: 25px;
}

 input:hover{
background-color: red;
border: solid 5px;
}